$mq-s: 480px;
$mq-m: 640px;
$mq-l: 1024px;
$mq-xl: 1600px;

$font-main: 'Lora', sans-serif;
$font-special: 'Meie Script', cursive;

$nkl-unit: 1rem;
$nkl-unit-multiplier: 1.25;

$nkl-m     : $nkl-unit;
$nkl-l     : $nkl-m * $nkl-unit-multiplier;
$nkl-xl    : $nkl-l * $nkl-unit-multiplier;
$nkl-xxl   : $nkl-xl * $nkl-unit-multiplier;
$nkl-xxxl  : $nkl-xxl * $nkl-unit-multiplier;
$nkl-4xl   : $nkl-xxxl * $nkl-unit-multiplier;
$nkl-5xl   : $nkl-4xl * $nkl-unit-multiplier;
$nkl-s     : $nkl-m / $nkl-unit-multiplier;
$nkl-xs    : $nkl-s / $nkl-unit-multiplier;
$nkl-xxs   : $nkl-xs / $nkl-unit-multiplier;
$nkl-xxxs  : $nkl-xxs / $nkl-unit-multiplier;
$nkl-4xs   : $nkl-xxxs / $nkl-unit-multiplier;
$nkl-5xs   : $nkl-4xs / $nkl-unit-multiplier;

$nkl-yellow--pale: hsl(52, 82%, 74%);
$nkl-brown--dark: hsl(27, 38%, 14%);
$nkl-blue: hsl(180, 61%, 24%);
$nkl-green: hsl(135, 87%, 30%);
$nkl-gray: hsl(33, 11%, 48%);
$nkl-gray--dark: hsl(223, 13%, 20%);
$nkl-gray--darkest: hsl(220, 13%, 18%);
$nkl-black: hsl(0, 0%, 5%);
$nkl-white: hsl(0, 0%, 85%);



@mixin mq-s {
  @media (min-width: #{$mq-s})  {
    @content;
  }
}
@mixin mq-m {
  @media (min-width: #{$mq-m})  {
    @content;
  }
}
@mixin mq-l {
  @media (min-width: #{$mq-l}) {
    @content;
  }
}
@mixin mq-xl {
  @media (min-width: #{$mq-xl}) {
    @content;
  }
}

@mixin mq-s-portrait {
  @media (min-width: #{$mq-s}) and (orientation: portrait)  {
    @content;
  }
}
@mixin mq-m-portrait {
  @media (min-width: #{$mq-m}) and (orientation: portrait)  {
    @content;
  }
}
@mixin mq-l-portrait {
  @media (min-width: #{$mq-l}) and (orientation: portrait) {
    @content;
  }
}
@mixin mq-xl-portrait {
  @media (min-width: #{$mq-xl}) and (orientation: portrait) {
    @content;
  }
}

@mixin mq-s-landscape {
  @media (min-width: #{$mq-s}) and (orientation: landscape)  {
    @content;
  }
}
@mixin mq-m-landscape {
  @media (min-width: #{$mq-m}) and (orientation: landscape)  {
    @content;
  }
}
@mixin mq-l-landscape {
  @media (min-width: #{$mq-l}) and (orientation: landscape) {
    @content;
  }
}
@mixin mq-xl-landscape {
  @media (min-width: #{$mq-xl}) and (orientation: landscape) {
    @content;
  }
}


@mixin mq-landscape {
  @media (orientation: landscape)  {
    @content;
  }
}
