$mq-s: 480px;
$mq-m: 640px;
$mq-l: 1024px;
$mq-xl: 1600px;

$font-main: 'Roboto Condensed', sans-serif;
$font-special: 'Germania One', cursive;

$nkl-unit: 1rem;
$nkl-unit-multiplier: 1.25;

$nkl-m     : $nkl-unit;
$nkl-l     : $nkl-m * $nkl-unit-multiplier;
$nkl-xl    : $nkl-l * $nkl-unit-multiplier;
$nkl-xxl   : $nkl-xl * $nkl-unit-multiplier;
$nkl-xxxl  : $nkl-xxl * $nkl-unit-multiplier;
$nkl-4xl   : $nkl-xxxl * $nkl-unit-multiplier;
$nkl-5xl   : $nkl-4xl * $nkl-unit-multiplier;
$nkl-s     : $nkl-m / $nkl-unit-multiplier;
$nkl-xs    : $nkl-s / $nkl-unit-multiplier;
$nkl-xxs   : $nkl-xs / $nkl-unit-multiplier;
$nkl-xxxs  : $nkl-xxs / $nkl-unit-multiplier;
$nkl-4xs   : $nkl-xxxs / $nkl-unit-multiplier;
$nkl-5xs   : $nkl-4xs / $nkl-unit-multiplier;

$nkl-yellow--pale: hsl(54, 57%, 53%);
$nkl-gray: hsl(223, 13%, 25%);
$nkl-gray--dark: hsl(223, 13%, 20%);
$nkl-gray--darkest: hsl(220, 13%, 18%);
$nkl-black: hsl(0, 0%, 5%);
$nkl-white: hsl(0, 0%, 85%);
$nkl-blue--map: hsl(179, 93%, 28%);
$nkl-green--map: hsl(96, 67%, 43%);

@mixin calc($key, $value) {
  #{$key}: -webkit-calc(#{$value});
  #{$key}: -moz-calc(#{$value});
  #{$key}: calc(#{$value});
}

@mixin mq-s {
  @media (min-width: #{$mq-s})  {
    @content;
  }
}
@mixin mq-m {
  @media (min-width: #{$mq-m})  {
    @content;
  }
}
@mixin mq-l {
  @media (min-width: #{$mq-l}) {
    @content;
  }
}
@mixin mq-xl {
  @media (min-width: #{$mq-xl}) {
    @content;
  }
}
